@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
 body {
     font-family: 'Open Sans', sans-serif;
    background-color: #f5e8c7;
    background-repeat: no-repeat;
    background-size: cover;
 }
  /*header*/

.imagecontainer{
    width: 100%;
    display: flex;
    
    
    background-image: url("../img/other/bgheader.jpg");
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    
    
}
 .companyname{
    margin-left: 350px;
    margin-top: 25px;
    margin-bottom: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
     
    
.down_nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px 10px;
    /* margin:12% 15% 0% 15%; */
    margin-left: 3.5%;
    margin-top: 2%;
    font-size: large;
    border-top: 3px solid  rgb(90, 87, 87);
}
.down_nav ul a {
    color: black;    
    font-weight: 700;
    padding: 36px  10px 0px 10px;
    /* column-gap: 1000px; */
    border-radius: 2px ;
    border-top: 2px  transparent;
    
}
.down_nav a:hover{
    color:#a15071;
    border-top: 5px solid  #a15071;   
}
.down_nav a.active_home{
    border-top: 3px solid #a15071;
    color: #a15071;
}
.book_btn {
    background-color:#ac7088;
    color: white;
    padding: 10px 30px;
    font-size: large;
    border-radius: 10px;
    text-align: center;
    border: 1% solid inherit;
    cursor: pointer;
}
/* nav a.active{
    background-color: #ac7088;
    border-radius: 8px;
} */


/* heading part*/
.heading{
    background: #ecccb2;
    color: #643849;
    text-align: center;
    padding: 0.5em;
    margin: auto;
}
.companyname{
    color: #643849;
    font-weight: 700;
}
h1{
    color: black;
}
.imgcontainer{
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.imgcontainer{
    margin: auto;
    margin-top: 10px;
    width: 80%;
    border-radius: 10px;
  
}

.container>img{
    border-radius: 10px;
    width: 100%;
}
.container{
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
    text-align: center;
}
*, *:before, *:after{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  box-sizing: border-box;
}


.content {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 90%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.container:hover .content-overlay{
  opacity: 1;
  border-radius: 10px;
}

.content-image{
  width: 90%;
  border-radius: 10PX;
  border: 3px solid#643849;
  height: 350px;
  float: left;
}
.about{
  color: wheat;
  padding-top: 105px;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 10PX;
  width: 100%;
  top: 5%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.container:hover .content-details{
  top: 15%;
  left: 30%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}


.content-details H2{
  color: #fff;
  font-size: 1em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}


footer {
  background-color: #f1a089;
  padding: 25px 0px 10px;
  margin-top: 15px;
  color: black;
  font-weight: 800;
  text-align: center;
}